.Order{
    width:80%;
    border:1px solid #fff;
    box-shadow: 0px 3px 3px #cfcf;
    padding:10px;
    margin:100px auto;
    box-sizing:border-box;

}
.ordersIngredient{
    display: inline-block;
    border: 1px solid rgba(248, 245, 245, 0.034);
    box-shadow:0px 2px 4px rgb(41, 40, 39);
    margin:0px 3px;
    padding:5px;
}